{% extends "base.html" %}
{% block title %} Crea servizio {% endblock %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crea servizio</title>
</head>


<body>
    <h2>Crea un servizio fotografico</h2>
     <form method="POST" class="post-form" enctype="multipart/form-data">
         {% csrf_token %}
         {{ form.as_p }}
         <button type="submit" class="save btn btn-default">Salva</button>

     </form>
    <a href="{% url 'Loggato' %}"><button>Indietro</button></a>

</body>


{% endblock %}
