{% extends "base.html" %}
{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href='{% static "/css/stile.css" %}'>
{% endblock %}
{% block title %} Home {% endblock %}

{% block content %}

<div style="float: left; text-align: justify; width: 40%;">
<h1 style="text-align:center">
    GiococchiPhoto
</h1>
    <h2 style="text-align:center">
        <img src="{% static 'imgs/20230904122419_IMG_2632-min.JPG' %}" alt="prima foto" width="200" height="300">
    </h2>
    <hr>
    <p><img src="{% static 'imgs/IMG_6170.JPG' %}" alt="prima foto" width="150" height="200">
    <img src="{% static 'imgs/IMG_4427.JPG' %}" alt="prima foto" width="150" height="200">
    <img src="{% static 'imgs/IMG_4645.JPG' %}" alt="prima foto" width="150" height="200">
    <img src="{% static 'imgs/20220730134117_IMG_0073.JPG' %}" alt="prima foto" width="150" height="200">
    <img src="{% static 'imgs/20221025113604_IMG_2082.JPG' %}" alt="prima foto" width="150" height="200">
    <img src="{% static 'imgs/20230131120544_IMG_4242.JPG' %}" alt="prima foto" width="150" height="200">
    <img src="{% static 'imgs/GOPR3122_1660496247348.JPG' %}" alt="prima foto" width="150" height="200">
    <img src="{% static 'imgs/20230810_222326.jpg' %}" alt="prima foto" width="150" height="200" >
    <img src="{% static 'imgs/IMG_0887.JPG' %}" alt="prima foto" width="150" height="200" >
        </p>
</div>
<div style="float: right; text-align: justify; width: 40%;">

<h1 style="text-align:center">
    Fabio Benegiamo
</h1>
    <h2 style="text-align:center">
        <img src="{% static 'imgs/WhatsApp_Image_2023_10_12_at_13.20.51.jpeg' %}" alt="prima foto" width="200" height="300">
    </h2>
    <hr>
    <p>
        Foto Fabio
           Foto Fabio
            Foto Fabio
            Foto Fabio
            Foto Fabio
            Foto Fabio
            Foto Fabio
    </p>
</div>
<div style="clear: both;">
</div>


<center>

        <a href="{% url 'login' %}"><button>Accedi</button></a>
        <a href="{% url 'Crea_cliente' %}"><button>Registrati</button></a>
        <a href="{% url 'Calendario' %}"><button>Calendario</button></a>



</center>

{% endblock %}
