{% extends 'base.html' %}

{% block content %}
  <h1>Le tue immagini da modificare</h1>
  {% if "cliente" in  user.groups.all.0.name %}
  {% if Immagini %}
    <ul>
      {% for imm in Immagini %}
        <li>
          <strong>Data:</strong> {{ imm.data_caricamento }}<br>
          <strong>Descrizione:</strong> {{imm.Descrizione}}<br>
          <strong>Stato:</strong> {{imm.stato}}<br>
          <strong>Immagine da modificare:</strong> {{imm.immagine}}<br>
          <strong>Fotografo:</strong>{% if imm.fotografi_id == 3 %} giococchiphoto <br> {% elif imm.fotografi_id == 4 %} Fabio <br>
          {% endif %}
          {% if imm.foto_modificata %}
          <strong>Immagine modificata:</strong> <a href="{% url 'scarica_foto_modificata' imm.pk %}" download="{{ immagine.foto_modificata.name }}"><button>scarica</button></a> <br><br>
          {% endif %}
          <form method="GET" action="{% url 'CancellaImmagine' imm.pk %}">
                {% csrf_token %}
            <button class="pulsante-rosso" type="submit">Cancella</button>
          </form>
          <br>
        </li>
      <br>
      {% endfor %}
    </ul>
  {% else %}
    <p>Nessuna immagine da modificare disponibile.</p>
  {% endif %}
{% elif "fotografo" in  user.groups.all.0.name %}
  {% if Immagini %}
    <ul>
      {% for imm in Immagini %}
        <li>
          <strong>Data:</strong> {{ imm.data_caricamento }}<br>
          <strong>Descrizione:</strong> {{imm.Descrizione}}<br>
          <strong>Stato:</strong> {{imm.stato}}<br>
          <strong>Immagine da modificare:</strong>
          <a href="{% url 'scarica_foto' imm.pk %}" download="{{ immagine.immagine.name }}"><button>scarica</button></a> <br>

          <a href="{% url 'modifica_foto' imm.pk %}"><button>modifica</button></a>

          <br>
        </li>
      <br>
      {% endfor %}

 {% endif %}
      </ul>
{% endif %}




<a href="{% url 'Loggato' %}"><button>Indietro</button></a>
{% endblock %}