{% extends "base.html" %}
{% block title %} Utente loggato {% endblock %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utente loggato</title>
</head>


<body>
    {% if "cliente" in  user.groups.all.0.name %}
    <h1>Benvenuto {{ user.username }}</h1>

    <!-- Pulsante per la prenotazione di servizio -->
    <a href="{% url 'Prenotazione' user_pk %}"><button>Prenota Servizio</button></a>
    <!-- Pulsante per visualizzare tutti i servizi prenotati -->
    <a href="{% url 'servizio-list' %}"><button>Servizi Prenotati</button></a>
    <!-- Pulsante per andare alla chat -->
    <a href="{% url 'chat:chatroom' room='Fabio' %}"><button>Chat con Fabio</button></a>
    <a href="{% url 'chat:chatroom' room='giococchiphoto' %}"><button>Chat con giococchiphoto</button></a>
    <!-- Pulsante per andare alla sezione di modifica foto -->
    <a href="{% url 'carica_immagine' user_pk %}"><button>Modifica Foto</button></a>
    <!-- Pulsante per visualizzare tutte le immagini da modificare -->
    <a href="{% url 'immagine-list' %}"><button>Immagini da modificare</button></a>
    <!-- Pulsante per il logout -->
    <a href="{% url 'Home' %}"><button>Logout</button></a>
    {% endif %}


    {% if "fotografo" in  user.groups.all.0.name %}
    <h1>Benvenuto {{ user.username }}</h1>

    <!-- Pulsante per visualizzare tutte le immagini da modificare -->
    <a href="{% url 'immagine-list_ph' %}"><button>Immagini da modificare</button></a>
    <!-- Pulsante per andare alla chat -->
    <a href="{% url 'chat:chatroom' room=user.username %}"><button>Chat</button></a>
    <!-- Pulsante per vedere le candidature -->
    <a href="{% url 'Candidature' %}"><button>Visiona le candidature</button></a>
    <!-- Pulsante per il logout -->
    <a href="{% url 'Home' %}"><button>Logout</button></a>

    {% endif %}


</body>


{% endblock %}


